<!DOCTYPE html>
<html>
<head>
    <title>DEOXY.AI Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>DEOXY.AI - Ocean Oxygen Predictor</h1>
    <p>Input the ocean measurements down below in order to predict the dissolved oxygen.</p>

    <!-- This form action would go ahead and send the targeted values through the /predict route when submitted-->
     <form action="predict" method="post">
        Temperature (°C): <input type="number" step="any" name="Temperature" min="-2" max="31" required>
        <small>Dataset ranges between -2 to 31° (most values 2-10°). Colder water generally holds more oxygen than warmer water.</small><br><br>

        Salinity: <input type="number" step="any" name="Salinity" min="20" max="39" required>
        <small>Dataset ranges between ~20 to 39 (most values 34.7 - 35.2). The Open ocean is commonly around 35; lower values meaning fresher water, higher values saltier water.</small><br><br>

        Depth (m): <input type="number" step="any" name="Depth" min="0" max="6500" required>
        <small>0m = surface. Dataset ranges between 0 and ~6500m (median ~875m). Surface water typically holds more oxygen; deeper water usually has less.</small><br><br>
      
        Latitude: <input type="number" step="any" name="Latitude" min="-76" max="79" required>
        <small>Ranges between -76 and 79. Positioned north/south of the equator; oxygen levels would differentiate by region and climate</small><br><br>

        Longitude: <input type="number" step="any" name="Longitude" min="-98" max="39" required>
        <small>Ranges between -98 to 39. Postioned East-West within the Atlantic </small><br><br>

        Year: <input type="number" step="any" name="Year" min="1972" max="2021" required>
        <small>Dataset covers 1972 to 2021. Recent years better mirror the ocean's current conditions</small><br><br>

        Month: <input type="number" step="any" name="Month" min="1" max="12" required>
        <small>1-12. Seasonal changes affect oxygen levels - with warmer months prone to lowering it.</small><br><br>

        <label>
            <input type="checkbox" id="AdvancedToggle" name="Advanced" value="yes"
            onclick="document.getElementById('AdvancedFields').style.display = this.checked ? 'block' : 'none';">
            Advanced Mode (add nutrient values for more accurate and detailed predictions)
        </label><br><br>

        <div id="AdvancedFields" style="display:none;">
            Nitrate: <input type="number" step="any" name="Nitrate" min="0" max="42">
        <small>Optional: Ranges between ~0 to 42. Linked to biological activity, which influences oxygen consumption. </small><br><br>
        
        Phosphate: <input type="number" step="any" name="Phosphate" min="0" max="2.7">
        <small>Optional: Ranges between ~0 to 2.7. Assists and supports marine life; has a role within oxygen cycling.</small><br><br>

        Silicate: <input type="number" step="any" name="Silicate" min="0" max="141">
        <small>Optional: Ranges between ~0 to 141. Closely associated with organisms such as diatoms, radiolarians etc. This indicates biological conditions</small><br><br>

        </div>
        <input type ="submit" value="Oxygen Predictor">
    </form>
    <!-- the purposes of this block is to appear if an prediction has been generated by my application-->
    <hr>
    {% if error %}
    <p style="color: red;">{{error}}</p>
    {% endif %}
    
    {% if prediction %}
     <h2>Predicted Oxygen: {{prediction}} µmol/kg</h2>
     <h3>Risk Level: {{risk}}</h3>
     {% if mode_used %}<p><em>Prediction made using: {{mode_used}}</em></p>{% endif %}
     {% endif %}
     <hr>
     <h2>Model Performance</h2>
     {{ chart | safe}}
     <hr>
     <h2> Actual vs Predicted Oxygen</h2>
     {{scatter | safe}}
</body>
</html>